:root {
  --bg-mainGradientFb: #2F7AED;
  --bg-mainGradient: linear-gradient(90deg, rgba(47, 122, 237, 1) 0%, rgba(19, 224, 251, 1) 100%);
  --bg-mainGradientReverse: linear-gradient(90deg, rgba(19, 224, 251, 1) 0%, rgba(47, 122, 237, 1) 100%);
  --bg-white: #fff;
  --bg-lightblue: rgba(25, 201, 248, 1);
  --white: #fff;
  --black: #000;
  --primary: #2F7AED;
  --secondary: #2b2b2b;
  --title-font: "Alfa Slab One";
  --text-font: "Raleway";
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Raleway";
  background: #fff;
  color: #252a32;
  position: relative;
}


@font-face {
  font-family: alfa slab one;
  font-style: normal;
  font-weight: 400;
  src: local('Alfa Slab One'), url(./_fonts/AlfaSlabOne-Regular.woff) format('woff');
  font-display: block;
}

@font-face {
  font-family: raleway;
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(./_fonts/Raleway-Regular.woff) format('woff');
  font-display: block;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient-animations {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


a {
  transition: 5.5s;
  color: black;
}

a:hover {
  color: green;
}

p {
  color: var(--secondary);
  font-family: var(--text-font);
}

h2 {
  margin-bottom: .5em;
}

.titleLight {
  font-family: "Alfa Slab One";
  color: #fff;
}

.titleDark {
  font-family: "Alfa Slab One";
  color: #121212;
  font-size: 40px;
}

.description {
  font-size: 18px;
  font-family: var(--text-font);
}

.invertWh {
  filter: brightness(0) invert(1);
}

.container {
  max-width: 1300px;
  height: auto;
  padding: 8px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: unset;
}

.fwContainer {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .titleDark {
    font-size: 30px;
  }
}